<div class="page-header">
  <h1>Pat Needham</h1>
</div>

<div class="row">
  <div class="panel">
      <div class="col-xs-12 col-md-8">
        <h2>about me</h2>
      </div>

      <div class="col-xs-6 col-md-4">
        <h2><%= link_to 'back', root_path, id: 'back' %></h2>
      </div>
  </div>
</div>

<div class="row">
  <div class=".col-md-2 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>professional</h3>
        <p>i am currently enrolled in the boston general assembly <%= link_to 'web development immersive', 'https://generalassemb.ly/education/web-development-immersive', target: "_blank" %> program to acquire the skills to bring ideas to life.</p>
        <p>i have a background in financial services where i managed the daily operations of a platform of alternative investments (i.e., hedge funds, private equities, etc.) for high net worth clients.</p>
        <p>i want to take my experience of working well under pressure to produce user-friendly results from complex information into the public forum that is the world wide web.</p>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>personal</h3>
        <p>i grew up in southern maine where i enjoyed the beach in the summer and mountains in the winter</p>
        <p>having lived in greater boston for the past six years, i spend the free time i have away from coding with friends, cheering on the boston sports teams, playing guitar, and otherwise staying in motion.</p>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>contact</h3>

        <p>
          I can be reached easily through any of the following:
        </p>

        <p>
          <%= link_to 'mailto:patrick.h.needham@gmail.com', target: "_blank" do %>
            <i class="fa fa-envelope-o"></i> patrick.h.needham@gmail.com
          <% end %>
        </p>

        <p>
          <%= link_to 'https://twitter.com/patneedham_', target: "_blank" do %>
            <i class="fa fa-twitter"></i> @patneedham_
          <% end %>
        </p>

        <p>
          <%= link_to 'https://github.com/goodeats', target: "_blank" do %>
            <i class="fa fa-github"></i> goodeats
          <% end %> (my repositories may be a bit crowded at the moment while i'm taking classes)
        </p>

        <p></p>

        <p>
          <%= link_to 'https://www.linkedin.com/in/patrickneedham', target: "_blank" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </p>

        <p>
          <%= link_to 'https://www.facebook.com/patrick.h.needham', target: "_blank" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </p>

        <p>
          <%= link_to 'skype:patrick.h.needham', target: "_blank" do %>
            <i class="fa fa-skype"></i> patrick.h.needham
          <% end %>
        </p>

      </div>
    </div>
  </div>
</div>
